<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>账单</title>
    <link href="../../Content/Lib/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../../Content/Css/Base/Base.css" rel="stylesheet" />
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title" id="PageTitle">账单</h1>
    </header>
    <main class="mui-content">
        <form id="InputForm" class="mui-input-group">
            <div class="mui-input-row">
                <label>日期</label>
                <input id="InputRecordTime" type="date" required>
            </div>
            <div class="mui-input-row">
                <label>金额</label>
                <input id="InputAmount" type="number" required  min="0.01" step="0">
            </div>
            <div class="mui-input-row">
                <label>内容</label>
                <input id="InputContent" type="text" class="mui-input-clear" required>
            </div>
            <div class="mui-button-row">
                <button id="BtnSave" type="button" data-loading-icon="mui-spinner mui-spinner-custom" data-loading-text="正在保存" data-loading-icon-position="right" class="mui-btn mui-btn-primary form-submit-btn">保存</button>
            </div>
        </form>
    </main>
    <script src="../../Content/Lib/mui/js/mui.min.js"></script>
    <script src="../../Content/Lib/m-Tools/m-Tools.js"></script>
    <script src="../../Content/Script/Base/Base.js"></script>
    <script src="../../Content/Script/Bill/Edit.js"></script>
</body>
</html>