<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>主页</title>
    <link href="../../Content/Lib/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../../Content/Css/Base/Base.css" rel="stylesheet" />
    <link href="../../Content/Css/Home/Index.css" rel="stylesheet" />
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
        <h1 class="mui-title">标题</h1>
    </header>
    <div id="ListDataPanel" class="mui-content mui-scroll-wrapper">
        <div class="mui-scroll">
            <ul id="ListData" class="mui-table-view"></ul>
        </div>
    </div>
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item" data-gotopage="AddBill">
            <span class="mui-icon mui-icon-plus"></span>
            <span class="mui-tab-label">新建账单</span>
        </a>
        <a class="mui-tab-item" data-gotopage="Setting">
            <span class="mui-icon mui-icon-gear"></span>
            <span class="mui-tab-label">设置</span>
        </a>
    </nav>
    <div id="offCanvasSide" class="mui-popover">
        <form class="mui-input-group">
            <div class="mui-input-row">
                <label style="width:40%;">只看我</label>
                <div id="switchOnlyLookMe" class="mui-switch mui-switch-blue mui-switch-mini mui-active">
                    <div class="mui-switch-handle"></div>
                </div>
            </div>
            <div class="mui-input-row">
                <label>最小</label>
                <input id="SearchMinDate" type="date">
            </div>
            <div class="mui-input-row">
                <label>最大</label>
                <input id="SearchMaxDate" type="date">
            </div>
            <div class="mui-button-row">
                <button id="BtnSearch" type="button" class="mui-btn mui-btn-primary form-submit-btn">查询</button>
            </div>
        </form>
    </div>
    <script src="../../Content/Lib/mui/js/mui.min.js"></script>
    <script src="../../Content/Lib/m-Tools/m-Tools.js"></script>
    <script src="../../Content/Script/Base/Base.js"></script>
    <script src="../../Content/Script/Home/Index.js"></script>
</body>
</html>