@using System.Net.Http.Headers
@model Dictionary<MediaTypeHeaderValue, object>

@{
    // Group the samples into a single tab if they are the same.
    Dictionary<string, object> samples = Model.GroupBy(pair => pair.Value).ToDictionary(
        pair => String.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()),
        pair => pair.Key);
    var mediaTypes = samples.Keys;
}
@foreach (var mediaType in mediaTypes)
{
    <div class="card" style="margin-bottom:20px;">
        <div class="card-body">
            <h5 class="card-title">@mediaType</h5>
            <p class="card-text">
                @{
                    var sample = samples[mediaType];
                    if (sample == null)
                    {
                        <span>不可以使用该请求类型</span>
                    }
                    else
                    {
                        @Html.DisplayFor(s => sample);
                    }
                }
            </p>
        </div>
    </div>
}