<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>账单</title>
    <link href="../../Content/Lib/mui/css/mui.min.css" rel="stylesheet" />
    <link href="../../Content/Css/Base/Base.css" rel="stylesheet" />
    <link href="../../Content/Css/Bill/Report.css" rel="stylesheet" />
</head>
<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">账单统计</h1>
        <a id="ShowMenu" class="mui-action-menu mui-icon mui-icon-bars mui-pull-right"></a>
    </header>
    <div class="mui-content">
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header mui-card-media">
                <div class="mui-media-body">
                    <span id="LoginUserInfo">读取中....</span>
                    <p id="SearchTime">读取中....</p>
                </div>
            </div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell mui-media">
                        <a>
                            <div class="mui-media-body">
                                这段时间总共花费：
                            </div>
                            <span id="AountPrice" class="mui-badge mui-badge-purple">读取中.....</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell mui-media">
                        <a>
                            <div class="mui-media-body">
                                <span id="MaxContent">读取中.....</span>
                                <p id="MaxTime" class='mui-ellipsis'>最多的一笔[读取中.....]</p>
                            </div>
                            <span id="MaxPrice" class="mui-badge mui-badge-danger">读取中.....</span>
                        </a>
                    </li>
                    <li class="mui-table-view-cell">
                        <a>
                            <div class="mui-media-body">
                                <span id="MinContent">读取中.....</span>
                                <p id="MinTime" class='mui-ellipsis'>最少的一笔[读取中.....]</p>
                            </div>
                            <span id="MinPrice" class="mui-badge mui-badge-warning">读取中.....</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--页脚，放置补充信息或支持的操作-->
            <div class="mui-card-footer">
                <div class="footer_title">详情</div>
                <ul id="ListData" class="mui-table-view" style="width:100%;"></ul>
            </div>
        </div>
    </div>
    <script src="../../Content/Lib/mui/js/mui.min.js"></script>
    <script src="../../Content/Lib/m-Tools/m-Tools.js"></script>
    <script src="../../Content/Script/Base/Base.js"></script>
    <script src="../../Content/Script/Bill/BillModel.js"></script>
    <script src="../../Content/Script/Bill/Report.js"></script>
</body>
</html>