.nav-right-dropdown {
    left: -64px;
}

.mainFrame {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 0;
    z-index: -1;
}

#mainFrame {
    width: 100%;
    height: 100%;
}

.navbar-dark .navbar-nav .nav-link,
a:not([href]):not([tabindex]) {
    color: #fff;
}

a {
    cursor: pointer;
}

    a:not([href]):not([tabindex]).dropdown-item {
        color: #000;
    }

@media (max-width: 992px) {
    .nav-right-dropdown {
        left: 0;
    }
}
