main{
    max-width:400px;
    margin:20px auto;
}
.list-group-item {
    position: relative;
}

.list-group-item-panel {
    position: absolute;
    right: 5px;
    top: 50%;
    transform:translateY(-50%);
}
