@using System.Web.Http
@using RecordBill.API.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}
<section class="Api_Body">
    @Html.DisplayForModel()
</section>
