@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using RecordBill.API.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}
<!-- 头部 -->
<article class="Index_Title">
    <h2>RecordBillAPI文档 <span class="badge badge-secondary">V0.1</span></h2>
</article>
<!-- 主体 -->
<article class="Index_Body">
    <section>
        目前已完成：微信支付扫码API
    </section>
    <section class="Index_Body_APIList">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</article>
