.mui-card-header.mui-card-media .mui-media-body {
    margin-left: 0;
}
.footer_title {
    position: absolute;
    left: 50%;
    top: 10px;
    z-index: 1;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
}
.mui-card-footer{
    padding-top:40px;
    color:#000;
}