<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RecordBillDBEntities" connectionString="metadata=res://*/RecordBillModel.csdl|res://*/RecordBillModel.ssdl|res://*/RecordBillModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=119.23.71.44;initial catalog=RecordBillDB;persist security info=True;user id=Materal;password=3391496;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>