
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>软通支付接口管理平台</title>
    <link href="~/Content/Lib/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Lib/m-Reset/m-Reset.css" rel="stylesheet" />
    <link href="~/Content/Css/User/Login.css" rel="stylesheet" />
</head>
<body class="text-center">
    <form id="loginForm" class="form-signin needs-validation" novalidate>
        <img src="~/Content/Images/Log.png" />
        <h1 class="h3 mb-3 font-weight-normal">软通支付接口管理平台</h1>
        <input type="text" id="inputAccount" class="form-control" placeholder="账号" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
        <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="button">登录</button>
        <p class="mt-5 mb-3 text-muted">
            云南软通信息科技有限公司 &copy;2018-2021
        </p>
    </form>
    <script src="~/Content/Lib/JQuery/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Lib/Popper/popper.min.js"></script>
    <script src="~/Content/Lib/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/Lib/m-Tools/m-Tools.js"></script>
    <script src="~/Content/Lib/m-Reset/m-Reset.js"></script>
    <script src="~/Content/Scripts/Base/Base.js"></script>
    <script src="~/Content/Scripts/User/Login.js"></script>
</body>
</html>